[user]
	name = Oscar Tuff
	email = 90379013+oTuff@users.noreply.github.com
[init]
	defaultBranch = main
[core]
	editor = nvim
[diff]
	tool = nvimdiff
[merge]
	tool = nvimdiff
[mergetool]
	keepBackup = false
	prompt = true
[pull]
	ff = only
[push]
	autoSetupRemote = true
[fetch]
	prune = true
[stash]
	showIncludeUntracked = true
[credential]
	credentialStore = secretservice
	helper = manager
; [credential "https://dev.azure.com"]
; 	useHttpPath = true
; [filter "lfs"]
; 	process = git-lfs filter-process
; 	required = true
; 	clean = git-lfs clean -- %f
; 	smudge = git-lfs smudge -- %f
